<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="goGithub()">GitHub Authorization Settings</button>
        <button mat-menu-item>Help</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <span>Jexia API Documentation</span>
    </mat-toolbar>



    <mat-card *ngIf="lookingForContracts" class="load-card">
      <div *ngIf="error?.status === 401">
        <div>GitHub access token has been revoked, you need to authorize again</div>
        <button mat-stroked-button (click)="authorize()">Authorize</button>
      </div>
      <div *ngIf="error && error.status !== 401">
        <div>Something went wrong</div>
        <button mat-stroked-button (click)="tryAgain()">Try again</button>
      </div>
      <div *ngIf="!error">
        <mat-spinner mode="indeterminate" [diameter]="50" class="spinner"></mat-spinner>
        <div>Searching contracts in your repositories... It can take some time</div>
      </div>
    </mat-card>
    <div class="buttons">
      <span *ngFor="let api of apis | async">
        <mat-menu #apiMenu="matMenu">
          <button mat-menu-item *ngFor="let file of api.files">
            <a routerLink="{{file.sha}}">{{file.path}}</a>
          </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="apiMenu">{{api.name}}</button>

        <!--[<a routerLink="{{api.file.sha}}">{{api.repo.name | uppercase}} {{api.file.path}}</a>]-->
      </span>
    </div>
    <div class="apidoc">
      <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>

